body,
p,
h1,
h2,
h3,
h4,
dl,
dd,
ul,
li,
form,
textarea,
select {
  margin: 0 !important;
  background: none;
  border:none;
  outline: none;
}
html,body{
    height:100%;
}
body {
  font-size: 14px;
  font-family: "微软雅黑";
  line-height: 1;
}
i {
  font-style: normal;
}
img {
  border: none;
}
a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
}
a:hover {
  text-decoration: none;
}
.clearfix:before,.clearfix:after{ 
    content:""; 
    display:table; 
} 
.clearfix:after{clear:both;} 
.clearfix{ 
    *zoom:1;/*IE/7/6*/
}
.bg-f{
  background: #fff;
}
.fl{float: left !important;}
.fr{float: right !important;}
.fc-f{
  color: #fff;
}
.nb{
  border:none !important;
}
.ml-10{
  margin-left: 10px;;
}
.cur-p{
  cursor: pointer;
}

.el-dialog__title{
  font-size: 14px;
}
.el-button--small{
  font-size: 14px;
}
.table-btn-blue{
  color: #409eff;
  padding: 0 4px;
}
.table-btn-red{
  color: #f56c6c;
  padding: 0 4px;
}